/*util css */
.font-family {
  font-family: "poppins", sans-serif;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.text-color-primary {
  color: #4e319a;
}
.text-color-default {
  color: #333333;
}
.text-color-secondary {
  color: #808080;
}
.text-color-yellow {
  color: #f6d53c;
}
.text-color-white {
  color: #ffffff;
}
.bg-color-yellow {
  background-color: #f6d53c;
}
.bg-color-lite {
  background-color: #f8f8f8;
}
.bg-color-medium {
  background-color: #f2f2f2;
}
.bg-color-dark {
  background-color: #808080;
}
.bg-color-primary {
  background-color: #4e319a;
}
.text-center {
  text-align: center;
}
.text-dec {
  text-decoration: none;
}
.text-line {
  text-decoration: line-through;
}

.font-1 {
  font-size: 1.5rem;
}
.font-2 {
  font-size: 2.5rem;
}
.font-3 {
  font-size: 3.5rem;
}
.font-w6 {
  font-weight: 600;
}
.cursor-default:hover {
  color: #808080;
}
.cursor-primary:hover {
  color: #4e319a;
}
.cursor-black:hover {
  color: #333333;
}
.img-w-100 {
  width: 100%;
}
.img-hov:hover {
  background-color: #4e319a;
  color: #f2f2f2;
}
.line-height {
  line-height: 2;
}
.line-height-3 {
  line-height: 3.2;
}
.pad-inherit {
  padding: inherit;
}

/*end util css*/

/*menu bar section*/
.menu-bar-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem 1rem;
}
.logo {
  width: 60%;
  cursor: pointer;
}
.menu-nav-link {
  padding-right: 6rem;
  position: relative;
}
.menu-nav-link > ul {
  display: flex;
  margin: 0;
  gap: 1rem;
}
ul > li {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: #333333;
}
li > .menu-nav {
  font-weight: 600;
}
li > .menu-nav:hover {
  color: #4e319a;
}

.tag {
  color: #ffffff;
  background-color: red;
  font-size: 10px;
  padding: 0.2rem 0.3rem;
  position: absolute;
  top: -1rem;
  line-height: 1.1;
}
.search-box {
  padding: 1rem 2rem 1rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: transparent;
}
.fa-solid.fa-magnifying-glass {
  position: relative;
  left: -2.25rem;
}

.right-cart-menu-section {
  display: flex;
}
.cart-section {
  display: flex;
  padding-left: 0;
  position: relative;
}

.cart-section > li > a:hover {
  color: #4e319a;
}
.wishlist {
  background-color: #4e319a;
  color: #ffffff;
  border-radius: 100%;
  font-size: 0.75rem;
  position: absolute;
  top: -0.75rem;
  padding: 0.2rem;
}
.cart-section > li {
  padding-right: 1rem;
}

/*support section*/

.support-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

/*professional store bg image*/

.image-section {
  background-image: url("../images/slider-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center;*/
  position: relative;
}
.image-left {
  display: inline-block;
  padding: 6rem 0 7rem 10rem;
}
.cap-con {
  display: flex;
  gap: 1rem;
}
.button {
  padding-top: 2rem;
}
.bolt {
  background-color: #f6d53c;
  border-radius: 100%;
  color: black;
  height: 1rem;
  padding: 1rem;
}
.btn {
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: transparent;
  font-weight: 600;
  background-color: white;
}
.btn:hover {
  background-color: black;
  color: #f2f2f2;
}
.img-right:hover {
  color: #f2f2f2;
}
.text-dec-line {
  text-decoration: underline #f6d53c 0.1rem;
  padding-top: 0.5rem;
}
.back-image-right {
  display: inline-block;
  position: absolute;
  right: 60px;
  bottom: px;
  top: 150px;
}

/*shop by categroy*/

.shop-categroy-section {
  padding: 2rem 0 3rem 0;
}
.shop-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 8rem 2rem 8rem;
  gap: 1rem;
}
.shop-image-item {
  display: flex;
  flex-basis: 30%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
}

.shop-item-left {
  flex-basis: 30%;
}
.item-left:hover {
  color: #4e319a;
}
.shop-item-middle-img {
  flex-basis: 25%;
}
.shop-item-right-arrow {
  flex-basis: 10%;
}
.img-arrow {
  background-color: white;
  border-radius: 100%;
  border: 0.1rem solid #f2f2f2;
  padding: 1rem;
  color: #4e319a;
}
.shop-image-slider {
  width: 25%;
}
.shop-image-item:hover {
  box-shadow: 0 0.3rem 0 #4e319a;
}

/*trending product*/

.trending-product-section {
  padding: 2rem;
}
.t-p-image-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.t-p-single-image-item {
  flex-basis: 20%;
}
.t-p-top-section {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.t-p-bag {
  position: absolute;
  right: -105px;
  top: 10px;
  border-radius: 100%;
  border: 0.02rem solid #f2f2f2;
  padding: 1rem;
  background-color: transparent;
  transition: all ease-in 300ms;
  z-index: 3;
}
.t-p-top-section:hover .t-p-bag {
  right: 15px;
}
.t-p-img {
  border-radius: 0.5rem;
}
.t-p-top-below-section {
  position: absolute;
  bottom: -80px;
  display: flex;
  width: 100%;
  z-index: 3;
  transition: all ease-in 300ms;
}

.t-p-top-section:hover .t-p-top-below-section {
  bottom: 5px;
}

.t-p-btn {
  padding: 1rem 2rem 1rem 1rem;

  background-color: transparent;
  border: #f2f2f2 solid 0.1rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.amount {
  background-color: #f6d53c;
  border-radius: 0.2rem;
}
.t-p-lap-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}
.t-p-lap-image:hover {
  opacity: 1;
}

/*this week deal*/
.deal-time-top-section {
  padding: 4rem 2rem 4rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.timing-sec {
  display: flex;
  gap: 2.5rem;
}
.time-li {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.2rem;
  border-radius: 0.6rem;
}
.time-num {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.deal-btn {
  background-color: #4e319a;
  border-radius: 0.5rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  border: transparent;
  cursor: pointer;
}
.deal-btn:hover {
  background-color: black;
  color: #f2f2f2;
}

.deal-image-bottom-section {
  position: relative;
  gap: 2rem;
  display: flex;
  padding: 1rem 4rem 4rem 4rem;
}
.deal-btm-btn {
  padding: 1rem;
  border-radius: 0.5rem;
  border: transparent;
  background-color: #f6d53c;
  cursor: pointer;
}
.deal-btm-btn:hover {
  background-color: black;
  color: #f2f2f2;
}

.inner-leftside {
  position: absolute;
  top: 20px;
}
.deal-image:hover{
  transform: scale(1.02);
}

/*newsletter-section*/
.n-l-bg-img {
  background-image: url("/assets/images/newsletter.jpg");
  /* height: 100vh;*/
  background-position: center;
  /*background-size: cover;
  background-repeat: no-repeat;*/
  width: 80%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.n-l-top-leftside {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.n-l-mail-box {
  border-radius: 0.5rem;
  padding: 1rem 14rem 1rem 0;
  border: transparent;
  font-size: 1rem;
}

.n-l-btn {
  padding: 1.1rem;
  border-radius: 0.5rem;
  position: relative;
  left: -7.4rem;
  border: transparent;
  background-color: #f6d53c;
  font-weight: 700;
}
.n-l-btn:hover {
  background-color: #333333;
  color: #f8f8f8;
}
.n-l-top-section {
  display: flex;
  justify-content: space-around;
}
.n-l-single-item {
  width: 15%;
  position: relative;
}

.n-l-product-wrap {
  padding-top: 5rem;
}
.n-l-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.8s;
}
.n-l-img:hover {
  opacity: 1;
}

/*client-review-section*/

.client-review-section {
  display: inline-block;
}

.client-section-title {
  padding-top: 3rem;
}
.client-image-section {
  width: 20%;
}
.client-content-section {
  width: 35%;
}

.quote-img {
  width: 35%;
  position: relative;
  bottom: 45px;
  left: 60px;
}

.client-img-arrow {
  background-color: white;
  border-radius: 100%;
  border: 0.1rem solid #f2f2f2;
  padding: 1.5rem;
  color: #4e319a;
}

.client-review {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
}
.client-section {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.client-h4 {
  display: inline-block;
}
/*recent story*/

.rec-story-section {
  padding-top: 2rem;
  border: 0.2rem solid #f2f2f2;
}

.rec-story-blog-content {
  background-color: white;
  padding: 3.5rem;
}
.blog-image {
  border-radius: 1rem 1rem 0 0;
}

.rec-story-content-wrapper {
  gap: 2rem;
  display: flex;
  padding: 4rem;
  position: relative;
}
.rec-story-date {
  position: absolute;
  top: 60px;
}

.date-li {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.date-num {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/*footer-section*/

.footer-top-section {
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  gap: 2rem;
}

.footer-top-left-section {
  width: 35%;
}
.footer-link {
  display: flex;
  gap: 4rem;
}

.ship-icon {
  border-radius: 100%;
  background-color: white;
  padding: 1.5rem;
}
.ship-detail {
  display: inline-block;
}
.footer-bottom-section {
  display: flex;
  gap: 1.5rem;
  padding: 0 5rem 2rem 5rem;
  justify-content: space-between;
}
.footer-shipment-section {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.ship-icon:hover {
  transition: all 0.4s ease-in-out 0s;
}
.footer-bottom-section {
  border-bottom: 0.1rem solid #e6e3e3;
}
.footer-bottom-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
.footer-cont-li {
  display: flex;
  gap: 1rem;
}
