/*util css */
.font-family {
  font-family: "poppins", sans-serif;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.text-color-primary {
  color: #4e319a;
}
.text-color-default {
  color: #333333;
}
.text-color-secondary {
  color: #808080;
}
.text-color-yellow {
  color: #f6d53c;
}
.text-color-white {
  color: #ffffff;
}
.bg-color-yellow{
  background-color: #f6d53c;
}
.bg-color-lite {
  background-color: #f8f8f8;
}
.bg-color-medium {
  background-color: #f2f2f2;
}
.bg-color-dark {
  background-color: #808080;
}
.text-center {
  text-align: center;
}
.text-dec{
  text-decoration: none;
}

.font-1{
  font-size:1.5rem ;
}
.font-3{
  font-size:3.5rem;
}





/*menu bar section*/
.menu-bar-sec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem 1rem;
 
}
.logo {
  width: 60%;
  cursor: pointer;
}
.menu-nav-link {
  padding-right: 6rem;
  position:relative;

}
.menu-nav-link > ul {
  display: flex;
  margin: 0;
  gap: 1rem;
}
ul > li {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: #333333;

}
li>.menu-nav{
    font-weight:600;
}
li>.menu-nav:hover{
    color:#4e319a;
}
.tag{
    color:#ffffff;
    background-color: red;
    font-size: 10px;
    padding:.2rem .3rem;
    position:absolute;
    top:-1rem;
    line-height:1.1;
}
.search-box {
  padding: 1rem 2rem 1rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: transparent;
}
.fa-solid.fa-magnifying-glass {
  position: relative;
  left: -2.25rem;
}

.right-cart-menu-section {
  display: flex;
}
.cart-section {
  display: flex;
  padding-left: 0;
  position: relative;
}

.cart-section>li>a:hover{
  color:#4e319a;
}
.wishlist{
    background-color:#4e319a;
    color:#ffffff;
    border-radius:100%;
    font-size:.75rem;
    position:absolute;
    top:-.75rem;
 padding:.2rem;
}
.cart-section > li {
  padding-right: 1rem;
}

/*support section*/
 a:hover{
  color:#808080;
 }

 .support-section{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
 }

 /*professional store bg image*/

 .professional-back-image-section{
   background-image: url("../images/slider-02.jpg");
   
 }
 .image-section{
   width:100%;
   /*height:100vh;*/
  background-repeat: no-repeat;
  background-size: cover;
 /* background-position: center;*/
 position:relative;
  }
  .image-left{
    display:inline-block;
    padding: 6rem 0 2rem 10rem;
  }
  .cap-con{
    display:flex;
    gap: 1rem;
  }
  .button{
    padding-top:2rem;
  }
.bolt{
    background-color: #f6d53c;
    border-radius: 100%;
    color: black;
    height: 1rem;
    padding:1rem;
}
  .btn{
    padding: 1rem 2.5rem;
    border-radius: 6px;
    border: transparent;
    font-weight: 600;
    background-color: white;
    
  }
  .btn:hover{
  background-color: black; 
  color:#f2f2f2;

  }
  .img-right:hover{
    color:#f2f2f2;
  }
  .text-dec-line{
    text-decoration: underline #f6d53c .1rem;
    padding-top: .5rem;

  }
.back-image-right{
  display:inline-block;
}
.img-right-content{
  position: relative;
    left: 75rem;
    top: -17rem;
   /* top: 16rem;
    position: absolute;
    right: 1rem;*/
}

/*shop by categroy*/
